:root{
    --bgcolor: #eff5fe;
    --contcolor: #ffffff;
    --bordercolor: #2196f3;
}
::selection{
    color:none;
    background-color: none;
}
::-moz-selection{
    color:none;
    background-color: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.app-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:2%;
    left:2%;
    color:#2196f3;
}
.app-title span{
    margin-top: -1px;
    font-size: 32px;
    margin-right: 12px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgcolor);
}
.download-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--contcolor);
    padding: 40px 45px;
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.096);
}
.download-container h3{
    font-size: 20px;
}
.download-container .expires, .file-size{
    font-size: 13px;
    opacity: 0.8;
}
.file-name{
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}
.file-size{
    margin-bottom: 18px;
}
.download-btn{
    color: #fff;
    font-size: 15px;
    padding: 5px 25px;
    background-color: rgba(62, 62, 255, 0.875);
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.download-btn:hover{
    background-color: rgba(62, 62, 255, 0.663);
}