body{
    background-color: #121212;
    color: #d4eaf7;
}
.app-title{
    color:#d4eaf7;
}
.download-container{
    background-color: #0f0037;
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.096);
}
.download-btn{
    color: #d4eaf7;
    font-size: 15px;
    padding: 5px 25px;
    background-color: #610094;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.download-btn:hover{
    background-color: #a73be1bc;
}