:root{
    --bgcolor: #eff5fe;
    --contcolor: #ffffff;
    --bordercolor: #2196f3;
}
::selection{
    color:none;
    background-color: none;
}
::-moz-selection{
    color:none;
    background-color: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.app-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:2%;
    left:2%;
    color:#2196f3;
}
.app-title span{
    margin-top: -1px;
    font-size: 32px;
    margin-right: 12px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgcolor);
}
.download-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--contcolor);
    padding: 40px 45px;
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.096);
}
.download-container h3{
    font-size: 20px;
}
.download-container .expires, .file-size{
    font-size: 13px;
    opacity: 0.8;
}
.file-name{
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}
.file-size{
    margin-bottom: 18px;
}
.download-btn{
    color: #fff;
    font-size: 15px;
    padding: 5px 25px;
    background-color: rgba(62, 62, 255, 0.875);
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.download-btn:hover{
    background-color: rgba(62, 62, 255, 0.663);
}
/* responsive CSS */

@media only screen and (max-width: 520px) {
    /* For mobile phones: */
    .app-title h1{
        font-size: 20px;
    }
    .app-title span{
        font-size: 20px;
        margin-right: 5px;
    }
    .download-container{
        font-size: 14px;
        border-radius: 12px;
        background-color: var(--contcolor);
        padding: 20px 25px;
        box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.096);
    }
    .download-container h3{
        font-size: 14px;
    }
    .download-container .expires, .file-size{
        font-size: 12px;
    }
    .file-name{
        font-size: 14px;
        font-weight: 600;
        margin-top: 15px;
    }
    .file-size{
        margin-bottom: 16px;
    }
    .download-btn{
        font-size: 14px;
        padding: 4px 20px;
        border-radius: 3px;
    }
}
@media only screen and (min-width:521px) and (max-width: 660px){
    /* For Large Mobile phones: */
    .app-title h1{
        font-size: 20px;
    }
    .app-title span{
        font-size: 20px;
        margin-right: 5px;
    }
    .download-container{
        font-size: 14px;
        border-radius: 12px;
        padding: 20px 25px;
    }
    .download-container h3{
        font-size: 14px;
    }
    .download-container .expires, .file-size{
        font-size: 12px;
    }
    .file-name{
        font-size: 14px;
        font-weight: 600;
        margin-top: 15px;
    }
    .file-size{
        margin-bottom: 16px;
    }
    .download-btn{
        font-size: 14px;
        padding: 4px 20px;
        border-radius: 3px;
    }
}
@media only screen and (min-width:661px) and (max-width: 1280px){
    /* For Tablets and Laptops: */
    .app-title h1{
        font-size: 30px;
    }
    .app-title span{
        font-size: 30px;
        margin-right: 5px;
    }
    .download-container{
        font-size: 18px;
        border-radius: 12px;
        padding: 40px 45px;
    }
    .download-container h3{
        font-size: 18px;
    }
    .download-container .expires, .file-size{
        font-size: 14px;
    }
    .file-name{
        font-size: 16px;
        font-weight: 600;
        margin-top: 15px;
    }
    .file-size{
        font-size: 14px;
        margin-bottom: 16px;
    }
    .download-btn{
        font-size: 16px;
        padding: 8px 28px;
        border-radius: 7px;
    }
}

/* dark css */
body.dark{
    background-color: #121212;
    color: #d4eaf7;
}
.app-title.dark{
    color:#d4eaf7;
}
.download-container.dark{
    background-color: #0f0037;
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.096);
}
.download-btn.dark{
    color: #d4eaf7;
    background-color: #610094;
}
.download-btn:hover.dark{
    background-color: #a73be1bc;
}