:root{
    --bgcolor: #eff5fe;
    --contcolor: #ffffff;
    --bordercolor: #2196f3;
}
::selection{
    color: none;
    background: none;
}
::-moz-selection {
    color: none;
    background: none;
}
@keyframes rotateby360 {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.app-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:2%;
    left:2%;
    color:#2196f3;
}
.app-title span{
    margin-top: -1px;
    font-size: 32px;
    margin-right: 12px;
}
.btn-theme{
    position: fixed;
    top:2%;
    right: 2%;
}
.btn-theme button{
    display: flex;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.214);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border:none;
    background-color: white;
    padding: 7px;
}
.switch-theme span:hover{
    animation: rotateby360 0.35s ease-in;
}
.btn-theme button span{
    color: black;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgcolor);
}
.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 99;
}
.qr-container{
    top:  -100%;
    left:  50%;
    transform: translate(-50%, -50%);
    position: relative;
    transition: all 0.4s cubic-bezier( 0.56, 0.25, 0.23, 0.78);
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.214);
}
.modal .header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 700;
}
.modal .header span{
    cursor: pointer;
}
.qr-container.popin{
    top:50%;
}
.qr-img-container{
    width: 100%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.qr-img-container img{
    width: 350px;
    height: 350px;
    border-radius: 14px;
    padding:40px;
}
.title-qr{
    margin: 10px 0 0 20px;
}
.header span{
    margin: 10px 20px 0 0;
}
.upload-container{
    background-color: var(--contcolor);
    border-radius: 25px;
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.214);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.drop-zone{
    margin:25px;    
    border-radius: 10px;
    width: 500px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #0288d147;
    transition: all 0.1s ease-in-out;
}
.dragged.drop-zone{
    background: var(--contcolor);
    border-color: var(--bordercolor);
}
.illustration{
    width: 75px;
    height: 90px;
    position: relative;
}
.illustration img{
    width: 75px;
    position: absolute;
    transition: transform 0.25s ease-in-out;
}
.illustration .center{
    z-index: 3;
}
.drop-zone .title{
    font-weight: 500;
}
.illustration .right, .illustration .left{
    filter: grayscale(0.5);
}
.dragged .illustration .right{
    transform: translateX(20px) rotate(10deg) scale(0.9);
    transform-origin: bottom;
}
.dragged .illustration .left{
    transform: translateX(-20px) rotate(-10deg) scale(0.9);
    transform-origin: bottom;
}
.dragged .illustration .center{
    transform: translate(0, -10px);
}
.file-input{
    display: none;
}
.browse-btn{
    color: var(--bordercolor);
    cursor: pointer;
}
.progress-container{
    display: none;
    position: relative;
    width: 500px;
    height: 75px;
    border: 2px solid var(--bgcolor);
    margin-bottom: 25px;
    border-radius: 10px;
}
.progress-container .bg-progress{
    background-color: var(--bgcolor);
    width: 0%;
    height: 100%;
    border-radius: 3%;
    transition: width 0.25s linear;
    position: absolute;
}
.progress-container .details{
    position: absolute;
    z-index: 1;
    margin: 10px 15px;
    width: calc(100% - 30px);
}
.details .percent{
    margin: 1px;
    opacity: 0.8;
    font-size: 13px;
}
.progress-bar{
    width: 0%;
    height: 3px;
    background-color: var(--bordercolor);
    border-radius: 15px;
    transform-origin: left;
}
.share-container{
    width: 500px;
    margin-bottom: 10px;
    display: none;
}
.share-container .input-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share-container .input-container .icon-copy{
    height: 100%;
    position: relative;
}
.share-container .input-container input{
    width: 100%;
    border: 2px dashed #0288d147;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.752);
    background-color: var(--bgcolor);
    margin-bottom: 10px;
}
.share-container .input-container span{
    height: 25px;
    width: 30px;
    position: absolute;
    right: 2px;
    top: 12px;
    cursor: pointer;
    color: rgb(130, 130, 130);
    display: inline-block;
}
p{
    opacity: 0.85;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}
.email-container{
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
}
.email-container form{
    width: 100%;
    border: 2px dashed #0288d147;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.email-container .field{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 8px;
}
.email-container label{
    font-size: 16px;
}
.email-container input{
    font-size: 14px;
    caret-color: #0288d147;
    border: none;
    border-bottom: 2px solid #0288d147;
    outline: none;
    text-align: center;
}
.alert{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -60px);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 17px;
    color: white;
    transition: transform ease-in-out 0.2s;
}
.email-container button, .QR-btn, .email-btn{
    padding: 5px 8px;
    margin: 0 5px 0 5px;
    color: white;
    background-color: #2196f3;
    border-radius: 7px;
    outline:none;
    border: none;
    cursor: pointer;
}
.email-container button{
    margin-top: 7px;
}
.email-container button:hover, .QR-btn:hover, .email-btn:hover{
    background-color: #46acff;
}
.hide{
    display: none;
}

@media only screen and (max-width: 520px) {
    /* For mobile phones: */
    .app-title{
        top:2%;
        left:2%;
        color:#2196f3;
    }
    .app-title h1{
        font-size: 20px;
    }
    .app-title span{
        margin-top: -1px;
        font-size: 20px;
        margin-right: 7px;
    }
    .btn-theme{
        position: fixed;
        top:2%;
        right: 2%;
    }
    .btn-theme button{
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.214);
        padding: 4px;
    }
    .btn-theme button span{
        color: black;
        font-size: 15px;
    }
    .qr-container{
        font-size: 20px;
        width: 300px;
        height: 300px;
        border-radius: 15px;
        box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.214);
    }
    .modal .header{
        padding: 18px;
        font-size: 20px;
        font-weight: 700;
    }
    .qr-img-container{
        width: 100%;
        top: 55%;
        transform: translateY(-50%);
    }
    .qr-img-container img{
        width: 200px;
        height: 200px;
        border-radius: 14px;
        padding:25px;
    }
    .title-qr{
        margin: 7px 0 0 16px;
    }
    .header span{
        margin: 7px 16px 0 0;
    }
    .upload-container{
        font-size: 14px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 3px 15px 15px rgba(0, 0, 0, 0.214);
    }
    .drop-zone{
        margin:16px 16px 12px 16px;    
        border-radius: 7px;
        width: 263px;
        min-height: 170px;
    }
    .illustration{
        width: 50px;
        height: 60px;
    }
    .illustration img{
        width: 50px;
    }
    .progress-container{
        width: 263px;
        height: 60px;
        font-size: 13px;
        margin-bottom: 15px;
        border-radius: 7px;
    }
    .progress-container .bg-progress{
        width: 0%;
        height: 100%;
        border-radius: 3%;
    }
    .progress-container .details{
        font-size: 11px;
        margin: 15px 15px;
    }
    .details .percent{
        margin: 1px;
        opacity: 0.8;
        font-size: 9px;
    }
    .progress-bar{
        width: 0%;
        height: 2px;
        border-radius: 15px;
    }
    .share-container{
        width: 263px;
        margin-bottom: 10px;
    }
    .share-container .input-container input{
        padding: 6px 8px;
        border-radius: 5px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .share-container .input-container span{
        width: 2px;
        height: 5px;
        right: 25px;
        top: 6px;
    }
    p{
        font-size: 12px;
        opacity: 0.85;
        text-align: center;
        margin-bottom: 8px;
        margin-top: 6px;
    }
    .email-container{
        font-size: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .email-container form{
        font-size: 10px;
        width: 100%;
        border-radius: 10px;
        padding: 7px;
    }
    .email-container .field{
        font-size: 12px;
        width: 95%;
        margin-bottom: 10px;
    }
    .email-container label{
        font-size: 11px;
    }
    .email-container input{
        width: 40%;
        font-size: 11px;
    }
    .alert{
        padding: 7px 15px;
        border-radius: 4px;
        font-size: 12px;
    }
    .email-container button, .QR-btn, .email-btn{
        font-size: 10px;
        border-radius: 7px;
    }
}
@media only screen and (min-width:521px) and (max-width: 660px){
    /* For Large Mobile phones: */
    .app-title h1{
        font-size: 24px;
    }
    .app-title span{
        margin-top: -1px;
        font-size: 24px;
        margin-right: 8px;
    }
    .btn-theme button{
        padding: 6px;
    }
    .btn-theme button span{
        font-size: 20px;
    }
    .qr-container{
        width: 400px;
        height: 400px;
    }
    .modal .header{
        padding: 20px;
        font-size: 28px;
        font-weight: 700;
    }
    .qr-img-container img{
        width: 300px;
        height: 300px;
        border-radius: 14px;
        padding:30px;
    }
    .title-qr{
        margin: 8px 0 0 16px;
    }
    .header span{
        margin: 8px 16px 0 0;
    }
    .upload-container{
        font-size: 17px;
        width: 500px;
        border-radius: 10px;
    }
    .drop-zone{
        margin:16px 16px 12px 16px;    
        border-radius: 7px;
        width: 460px;
        min-height: 210px;
    }
    .illustration{
        width: 70px;
        height: 80px;
    }
    .illustration img{
        width: 60px;
    }
    .progress-container{
        width: 460px;
        height: 75px;
        font-size: 15px;
        margin-bottom: 15px;
        border-radius: 7px;
    }
    .progress-container .bg-progress{
        width: 0%;
        height: 100%;
        border-radius: 3%;
    }
    .progress-container .details{
        font-size: 15px;
        margin: 15px 15px;
    }
    .details .percent{
        margin: 1px;
        font-size: 13px;
    }
    .progress-bar{
        width: 0%;
        height: 3px;
        border-radius: 15px;
    }
    .share-container{
        width: 460px;
        margin-bottom: 10px;
    }
    .share-container .input-container input{
        padding: 6px 8px;
        border-radius: 5px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .share-container .input-container span{
        width: 3px;
        height: 7px;
        right: 27px;
        top: 7px;
    }
    p{
        font-size: 13px;
        opacity: 0.85;
        margin-bottom: 8px;
        margin-top: 6px;
    }
    .email-container{
        font-size: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .email-container form{
        font-size: 15px;
        width: 100%;
        border-radius: 10px;
        padding: 7px;
    }
    .email-container .field{
        font-size: 15px;
        width: 90%;
        margin-bottom: 10px;
    }
    .email-container label{
        margin-top: 5px;
        font-size: 15px;
    }
    .email-container input{
        font-size: 15px;
    }
    .alert{
        padding: 8px 16px;
        border-radius: 4px;
        font-size: 14px;
    }
    .email-container button, .QR-btn, .email-btn{
        font-size: 15px;
        padding: 5px 10px;
        margin: 0 5px 0 5px;
        border-radius: 7px;
    }
    .email-container button{
        font-size: 15px;
        padding: 5px 10px;
        margin-top: 7px;
    }
}
@media only screen and (min-width:661px) and (max-width: 1280px){
    /* For Tablets and Laptops: */
    .app-title h1{
        font-size: 30px;
    }
    .app-title span{
        margin-top: -1px;
        font-size: 30px;
        margin-right: 10px;
    }
    .btn-theme button{
        padding: 5px;
    }
    .btn-theme button span{
        font-size: 28px;
    }
    .qr-container{
        width: 400px;
        height: 400px;
    }
    .modal .header{
        padding: 20px;
        font-size: 28px;
        font-weight: 700;
    }
    .qr-img-container img{
        width: 300px;
        height: 300px;
        border-radius: 14px;
        padding:30px;
    }
    .title-qr{
        margin: 8px 0 0 16px;
    }
    .header span{
        margin: 8px 16px 0 0;
    }
    .upload-container{
        font-size: 18px;
        width: 570px;
        border-radius: 10px;
    }
    .drop-zone{
        margin:16px 16px 12px 16px;    
        border-radius: 7px;
        width: 540px;
        min-height: 210px;
    }
    .illustration{
        width: 80px;
        height: 90px;
    }
    .illustration img{
        width: 70px;
    }
    .progress-container{
        width: 540px;
        height: 80px;
        font-size: 18px;
        margin-bottom: 15px;
        border-radius: 7px;
    }
    .progress-container .bg-progress{
        width: 0%;
        height: 100%;
        border-radius: 3%;
    }
    .progress-container .details{
        font-size: 17px;
        margin: 15px 15px;
    }
    .details .percent{
        margin: 1px;
        font-size: 14px;
    }
    .progress-bar{
        width: 0%;
        height: 4px;
        border-radius: 15px;
    }
    .share-container{
        width: 540px;
        margin-bottom: 10px;
    }
    .share-container .input-container input{
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .share-container .input-container span{
        width: 12px;
        height: 12px;
        right: 22px;
        top: 11px;
    }
    p{
        font-size: 15px;
        opacity: 0.85;
        margin-bottom: 8px;
        margin-top: 6px;
    }
    .email-container{
        font-size: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .email-container form{
        font-size: 15px;
        width: 100%;
        border-radius: 10px;
        padding: 7px;
    }
    .email-container .field{
        font-size: 15px;
        width: 90%;
        margin-bottom: 10px;
    }
    .email-container label{
        margin-top: 5px;
        font-size: 18px;
    }
    .email-container input{
        font-size: 18px;
    }
    .alert{
        padding: 8px 16px;
        border-radius: 4px;
        font-size: 14px;
    }
    .email-container button, .QR-btn, .email-btn{
        font-size: 15px;
        padding: 5px 10px;
        margin: 0 5px 0 5px;
        border-radius: 7px;
    }
    .email-container button{
        font-size: 15px;
        padding: 5px 10px;
        margin-top: 7px;
    }
}
/* dark mode */
body.dark{
    color:#d4eaf7;
    background-color: #121212;
}
.app-title.dark{
    color:#d4eaf7;
}
.btn-theme button.dark{
    background-color: #0f0037;
}
.btn-theme button span.dark{
    color: #d4eaf7;
}
.upload-container.dark{
    background-color: #0f0037;
}
.drop-zone.dark{ 
    border: 2px dashed #bd6ff16a;
}
.dragged.drop-zone.dark{
    background-color: #10003a;
    border: 2px dashed #bd6ff195;
}
.browse-btn.dark{
    color: #dca7ffdb;
}
.progress-container.dark{
    border: 2px solid #0f0037;
}
.progress-container .bg-progress.dark{
    background-color: #1e016e;
}
.progress-bar.dark{
    background-color:#bd6ff195;
}
.share-container .input-container input.dark{
    background-color: #0f0037;
    border: 2px dashed #bd6ff195;
    color: #d4eaf7;
}
.email-container form.dark{
    border: 2px dashed #bd6ff195;
}
.email-container input.dark{
    color: #d4eaf7;
    caret-color: #bd6ff195;
    background-color: #0f0037;
    border-bottom: 2px solid #bd6ff195;
}
.email-container button.dark, .QR-btn.dark, .email-btn.dark{
    background-color: #610094;
}
.email-container button:hover.dark, .QR-btn:hover.dark, .email-btn:hover.dark{
    background-color: #a73be1bc;
}
.qr-container.dark{
    background-color: #080e38;
}
.qr-img-container img.dark{
    background-color:#141b50;
}
.share-container .input-container span.dark{
        color: #610094;
}
.alert.dark{
    color: #d4eaf7;
}