:root{
    --bgcolor: #eff5fe;
    --contcolor: #ffffff;
    --bordercolor: #2196f3;
}
::selection{
    color: none;
    background: none;
}
::-moz-selection {
    color: none;
    background: none;
}
@keyframes rotateby360 {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.app-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:2%;
    left:2%;
    color:#2196f3;
}
.app-title span{
    margin-top: -1px;
    font-size: 32px;
    margin-right: 12px;
}
.btn-theme{
    position: fixed;
    top:2%;
    right: 2%;
}
.btn-theme button{
    display: flex;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.214);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border:none;
    background-color: white;
    padding: 7px;
}
.switch-theme span:hover{
    animation: rotateby360 0.35s ease-in;
}
.btn-theme button span{
    color: black;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgcolor);
}
.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 99;
}
.qr-container{
    top:  -100%;
    left:  50%;
    transform: translate(-50%, -50%);
    position: relative;
    transition: all 0.4s cubic-bezier( 0.56, 0.25, 0.23, 0.78);
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.214);
}
.modal .header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 700;
}
.modal .header span{
    cursor: pointer;
}
.qr-container.popin{
    top:50%;
}
.qr-img-container{
    width: 100%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.qr-img-container img{
    width: 350px;
    height: 350px;
    border-radius: 14px;
    padding:40px;
}
.title-qr{
    margin: 10px 0 0 20px;
}
.header span{
    margin: 10px 20px 0 0;
}
.upload-container{
    background-color: var(--contcolor);
    border-radius: 25px;
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.214);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.drop-zone{
    margin:25px;    
    border-radius: 10px;
    width: 500px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #0288d147;
    transition: all 0.1s ease-in-out;
}
.dragged.drop-zone{
    background: var(--contcolor);
    border-color: var(--bordercolor);
}
.illustration{
    width: 75px;
    height: 90px;
    position: relative;
}
.illustration img{
    width: 75px;
    position: absolute;
    transition: transform 0.25s ease-in-out;
}
.illustration .center{
    z-index: 3;
}
.drop-zone .title{
    font-weight: 500;
}
.illustration .right, .illustration .left{
    filter: grayscale(0.5);
}
.dragged .illustration .right{
    transform: translateX(20px) rotate(10deg) scale(0.9);
    transform-origin: bottom;
}
.dragged .illustration .left{
    transform: translateX(-20px) rotate(-10deg) scale(0.9);
    transform-origin: bottom;
}
.dragged .illustration .center{
    transform: translate(0, -10px);
}
.file-input{
    display: none;
}
.browse-btn{
    color: var(--bordercolor);
    cursor: pointer;
}
.progress-container{
    display: none;
    position: relative;
    width: 500px;
    height: 75px;
    border: 2px solid var(--bgcolor);
    margin-bottom: 25px;
    border-radius: 10px;
}
.progress-container .bg-progress{
    background-color: var(--bgcolor);
    width: 0%;
    height: 100%;
    border-radius: 3%;
    transition: width 0.25s linear;
    position: absolute;
}
.progress-container .details{
    position: absolute;
    z-index: 1;
    margin: 10px 15px;
    width: calc(100% - 30px);
}
.details .percent{
    margin: 1px;
    opacity: 0.8;
    font-size: 13px;
}
.progress-bar{
    width: 0%;
    height: 3px;
    background-color: var(--bordercolor);
    border-radius: 15px;
    transform-origin: left;
}
.share-container{
    width: 500px;
    margin-bottom: 10px;
    display: none;
}
.share-container .input-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share-container .input-container .icon-copy{
    height: 100%;
    position: relative;
}
.share-container .input-container input{
    width: 100%;
    border: 2px dashed #0288d147;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.752);
    background-color: var(--bgcolor);
    margin-bottom: 10px;
}
.share-container .input-container span{
    height: 25px;
    width: 30px;
    position: absolute;
    right: 2px;
    top: 12px;
    cursor: pointer;
    background: var(--bgcolor);
}
p{
    opacity: 0.85;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}
.email-container{
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
}
.email-container form{
    width: 100%;
    border: 2px dashed #0288d147;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.email-container .field{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 8px;
}
.email-container label{
    font-size: 16px;
}
.email-container input{
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #0288d147;
    outline: none;
    text-align: center;
}
.alert{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -60px);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 17px;
    color: white;
    transition: transform ease-in-out 0.2s;
}
.email-container button, .QR-btn, .email-btn{
    height: 35px;
    padding: 7px 10px;
    margin: 0 5px 0 5px;
    color: white;
    background-color: #2196f3;
    border-radius: 10px;
    outline:none;
    border: none;
    cursor: pointer;
}
.email-container button{
    width: 100px;
    height: 35px;
    margin-top: 7px;
}
.email-container button:hover, .QR-btn:hover, .email-btn:hover{
    background-color: #46acff;
}
.hide{
    display: none;
}